<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62969576181-rq0eso2ois2cpu2as3o4q07h1v3kl3n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62969576181-rq0eso2ois2cpu2as3o4q07h1v3kl3n9</string>
	<key>API_KEY</key>
	<string>AIzaSyDhuvbPUyTPeR5eT64qSPPWM9Wx7KEXe4g</string>
	<key>GCM_SENDER_ID</key>
	<string>62969576181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.complaintManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>scenic-firefly-376309</string>
	<key>STORAGE_BUCKET</key>
	<string>scenic-firefly-376309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62969576181:ios:7bb8244848b10f036f23bc</string>
</dict>
</plist>